:root {
    --light-yellow: #fff2ce;
    --color-1: #D0AA97;
    --color-2: #714C46;
    --color-3: #AE5F4D;
    --color-4: #F8F0F0;
    --color-5: #944132;
}

@media (max-width: 1150px) {
    .bs-products {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .product {
        margin: 1rem 1rem;
    }

    .content h1 {
        color: var(--color-1);
    }

    .content h1 span.text-pink {
        font-weight: bolder;
    }

    .content p {
        color: #fff;
        font-size: 1rem;
    }

    .btn {
        margin: 0.5rem 0rem;
    }

    .home-banner-1 {
        background-position-x: center;
    }

    .form-group button {
        box-shadow: none;
    }

    .container {
        padding: 0px 5rem;
    }

    .home-banner-2 {
        background-position-y: -3rem;
    }

    .cat-link {
        margin: 0rem 0.5rem;
    }

    .call-det {
        margin: 0rem 0.5rem;
    }

    .ft-header {
        flex-wrap: wrap;
    }

    .ft-header h2 {
        margin: 0rem 0.5rem;
    }

    .links {
        flex-wrap: wrap;
    }

    .payments,
    .social {
        margin: 0rem 0.5rem;
    }

}

@media screen and (max-width:938px) {
    .social {
        display: none;
    }
}

@media (max-width: 840px) and (min-width: 100px) {
    .text_left {
        width: 80%;
        margin: 0;
    }

    .model_name {
        left: -3rem;
    }

    .heading {
        text-align: center;
    }

    .ld__content {
        flex-direction: column;
    }

    .landing_model {
        bottom: 0px;
    }

    .cave__style_1 {
        bottom: 3.5rem;
    }

    .text_right {
        width: 80%;
        margin: 0;
    }

    .text_right h3 {
        text-align: center;
        margin: 1rem 0 1rem 0;
    }

    .text_right p {
        padding: 0;
        text-align: center;
    }
}

@media (max-width: 575px) and (min-width: 100px) {
    .cat-link h3 {
        text-align: center;
    }

    .cat-link ul li {
        text-align: center;
    }

}

@media (max-width: 770px) and (min-width: 100px) {
    .btn {
        font-size: 0.8rem;
        width: 140px;
    }

    .home-banner-1 {
        background-position-x: center;
    }

    .bs-header h2 {
        font-size: 1.2rem;
    }

    .bs-header ul li a {
        font-size: 0.9rem;
        margin: 0rem 0.5rem;
    }

    .home-banner-2 {
        background-position-y: 0;
    }

    .product {
        width: 230px;
    }

    .image {
        width: 230px;
    }

    .bs-txt {
        height: 130px;
    }

    .home-banner-1 {
        background-position-x: center;
    }

    .home-banner-2 {
        background-position-x: center;
    }
}

@media (max-width: 590px) and (min-width: 100px) {
    .bs-header {
        flex-direction: column;
    }

    .bs-header h2 {
        font-size: 1.4rem;
        margin: 1rem 0;
    }

    .container {
        padding: 0px 2rem;
    }

    .product {
        width: 250px;
    }

    .image {
        width: 250px;
    }

    .bs-txt {
        height: 130px;
    }

    .bs-header ul li a {
        font-size: 0.8rem;
        margin: 0rem 0.4rem;
    }

    .content {
        padding: 0rem 1rem;
    }

    .home-banner-1 {
        background-position-x: center;
    }

    .home-banner-2 {
        background-position-x: center;
    }
}

@media (max-width: 445px) {

    html {
        overflow-x: hidden;
    }

    .bs-header ul {
        flex-wrap: wrap;
    }

    .mimgtxt{
        margin: 1rem 0;
    }

    .landing_model {
        width: 300px;
    }

    .cave__style_1 {
        bottom: 0.6rem;
        width: 300px;
    }

    .mainbox h2 {
        font-size: 1.5rem;
        letter-spacing: 0.8rem;
        margin: 1rem 0rem;
    }

    .parent-box {
        margin: 0rem;
    }

    .home-banner-2 {
        background-position-x: center;
    }

    .content h1 {
        text-align: center;
        margin: 10px;
        font-size: 1.9rem;
        width: 300px;
    }

    .container {
        padding: 0px 0rem;
    }

    .links {
        flex-direction: column;
    }

    .cat-link h3,
    .cat-link ul li {
        text-align: left;
    }

    .ft-header h1 {
        margin: 1.5rem 0rem;
    }

    .call-det {
        width: 100%;
        margin: 0%;
        text-align: center;
    }

    .home-banner-1 {
        background-position-x: center;
    }

    .model_name {
        left: -1rem;
    }

}

@media (max-width: 350px) and (min-width: 100px) {
    .home-banner-2 {
        background-position-x: center;
    }

    .bs-header ul {
        flex-wrap: wrap;
    }

}

@media (max-width: 340px) and (min-width: 100px) {
    .bs-header ul {
        flex-wrap: wrap;
    }
}